# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
/backup
/logs
admin/logs
/images
# src/assets/
src/assets/liability
src/assets/location/
src/assets/amenities/
src/assets/images/user
src/assets/images/customer
src/assets/images/safetyVideoThumbnail
src/assets/events
